<div class="input-box">
    <div class="letter-field">
        <input type="text" maxlength="1" [(ngModel)]="inputLetter" [disabled]="insertLetterDisabled$|async">
        <button (click)="checkLetter(inputLetter)" [disabled]="insertLetterDisabled$ | async">Check Letter</button>
    </div>
    <div class=" word-field">
        <input type="text" [(ngModel)]="inputWord" placeholder="Type your solution"
            [disabled]="insertWordDisabled$ | async">
        <button (click)="checkWord(inputWord)" [disabled]="insertWordDisabled$ | async">Check Word</button>
    </div>
</div>
<div class="errors-box">
    <p>{{ answerInfo$ | async}}</p>
</div>