main.gamePage {
  width: 100%;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
}
app-letter-box {
  width: 70%;
  height: 200px;
}
app-input-box {
  width: 100%;
  height: 200px;
  background-color: var(--blue);
  box-shadow: 0 4px 4px -4px gray;
}
app-button-box {
  width: 100%;
  height: 120px;
}
app-hint-box {
  width: 70%;
  height: 120px;
  border: 1px solid var(--blue);
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 4px 4px -4px gray;
}
