main.gamePage {
  width: 100%;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
}
app-letter-box {
  width: 100%;
  height: 300px;
}
app-input-box {
  width: 100%;
  height: 300px;
}
app-button-box {
  width: 100%;
  height: 120px;
}
